recommendations/target
pgdata
recommendation/target
recommendation/go/services
config.yml
node_modules
fe/_app
*.pem
*.tar
*.pub
*.prof
*.pdf
*.out
todo.md
.env
tmp
fe/public
config_enc.yml
config._enc.yml.old
# sometimes I'd accidentally run a package manager command in the root
./package.json
pnpm-lock.yaml
# build artifacts
librate
lrctl
LibRate-*
LibRate
./static/img/profile/*.{jpeg,jpg,png,webp}
librate-bin
./profile*
static/templates/privacy_en.md
.vscode
fe/bun.lockb
