recommendations/target
pgdata
db/data
recommendation/target
recommendation/go/services
config.yml
node_modules
fe/_app
*.pem
*.tar
*.pub
*.prof
*.pdf
*.out
todo.md
.env
tmp
fe/public
config_enc.yml
config._enc.yml.old
# sometimes I'd accidentally run a package manager command in the root
./package.json
pnpm-lock.yaml
# build artifacts
librate
lrctl
LibRate-*
# various named binaries, e.g. '-dev, -nightly, -debug'
./librate-*
# user-modified templates from examples
./static/templates/*.md
LibRate
./static/img/profile/*.{jpeg,jpg,png,webp}
librate-bin
./profile*
static/templates/privacy_en.md
.vscode
fe/bun.lockb
static/templates/tos_en-US.md
static/templates/privacy_en-GB.md
static/templates/privacy_en-US.md
couchdb/data/shards
couchdb/data
*.bleve
data.ms
