:root {
  --primary-text-color: #221 !important;
  --main-bg-color: #faeffe !important;
  --body-bgcolor: #faeffe !important;
  --text-color: #111 !important;
  --member-card-background-color: ghostwhite !important;
}
